<div class="modal fade" id="helpContactModal" tabindex="-1" aria-labelledby="helpContactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpContactModalLabel">Have a question?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p class="mb-0">
          Email
          <a href="mailto:{{ support_email }}?subject={{ help_mailto_subject }}">{{ support_email }}</a>
          for any question you may have! We'll get back to you as soon as we can.
        </p>
      </div>
    </div>
  </div>
</div>
