<hr class="my-4 border-secondary">
<footer class="py-3 my-4">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 g-md-5 justify-content-center text-center">
      <div class="col d-flex flex-column align-items-center">
        <h6 class="mb-3" style="color: #56B6C6;">Quick Links</h6>
        <ul class="nav flex-column align-items-center gap-1">
          <li class="nav-item"><a href="{{url_for('home_page')}}" class="nav-link2 px-2 text-body-secondary" style="font-size: 0.7em;">Home</a></li>
        </ul>
      </div>
      <div class="col d-flex flex-column align-items-center">
        <h6 class="mb-3" style="color: #56B6C6;">Legal</h6>
        <ul class="nav flex-column align-items-center gap-1">
          <li class="nav-item"><a href="{{url_for('privacy_policy')}}" class="nav-link2 px-2 text-body-secondary" style="font-size: 0.7em;">Privacy Policy</a></li>
          <li class="nav-item"><a href="{{url_for('terms_and_conditions')}}" class="nav-link2 px-2 text-body-secondary" style="font-size: 0.7em;">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <h5 class="text-center" style="color: #56B6C6;">© Scoreboard</h5>
  <div class="text-center">
    <p class="text-body-secondary" style="font-size: 0.8em;">
      Having issues or questions? Email us directly at:
      <a href="mailto:{{ support_email }}" class="text-body-secondary">{{ support_email }}</a>
    </p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- ... other scripts ... -->
